[project]
	description = This is TEST Git repository for my experiment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tanvir Hussain (bappi48)
[access "refs/for/refs/*"]
	read = group user/Tanvir Hussain (bappi48)
	push = group user/Tanvir Hussain (bappi48)
	label-Code-Review = -2..+2 group user/Tanvir Hussain (bappi48)
	label-Verified = -1..+1 group user/Tanvir Hussain (bappi48)
	rebase = group user/Tanvir Hussain (bappi48)
	removeReviewer = group user/Tanvir Hussain (bappi48)
	submit = group user/Tanvir Hussain (bappi48)
[access "refs/heads/*"]
	read = group user/Tanvir Hussain (bappi48)
	create = group user/Tanvir Hussain (bappi48)
	push = +force group user/Tanvir Hussain (bappi48)
	pushMerge = group user/Tanvir Hussain (bappi48)
[access "refs/tags/*"]
	push = +force group user/Tanvir Hussain (bappi48)
	pushTag = group user/Tanvir Hussain (bappi48)
	pushSignedTag = group user/Tanvir Hussain (bappi48)
